html{
    scroll-behavior: smooth;
}
#header{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/background.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.point{
    margin-top:23%;
}
body{
    overflow-x:hidden;
}
#about{
    color:black;
    padding-top: 40px;
    padding-bottom: 40px;
}
#about img{
    width: 250px;
    float:left;
}

#fakenavbar{
    padding:10px;
}
#fakenavbar a{
    margin-left:15px;
    width: 200px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#contact{
    background-color: darkslategray;
    color: white;
    font-size: 20px;
    padding:50px;
}
#social a{
    width: 200px;
}
#social{
    padding:40px;
}
#History{
    padding-top:40px;
}